div {
  margin: 300px auto;
  width: 40%;
  text-align: center;
}

h1 {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-family: "Inter";
  font-size: 50px;
}
strong {
  color: #4CA3DD;
}

button {
  margin-top: 20px;
  background: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: 700;
  font-family: "Inter";
  font-size: 17px;
}

.cap {
  text-transform: capitalize;
}
